.jumbotron'>
  %h1
    Kramer <small>Be a friend. Share your things. Keep track of it all.</small>

.col-xs-4.col-xs-offset-4
  <%= link_to "Create an account", new_user_path, { :class => "btn btn-default" } %>
.col-xs-4.col-xs-offset-4
  <%= link_to "Create an account", new_user_path, { :class => "btn btn-default" } %>

